In [25]:
import pandas as pd
import pandas as pd
import numpy as np
from datetime import datetime
import re

In [26]:

import sys
sys.path.append('../utils')
import functions

In [27]:
df = pd.read_csv('../data/local/raw/doesthedogdie.com.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/local/raw/doesthedogdie.com.csv'

In [ ]:
functions.show_basic_info(df)

DataFrame Shape: (5910, 5)
Number of Rows: 5910
Number of Columns: 5

Data Types of Columns:
category_name     object
title             object
yes                int64
no                 int64
yes_ratio        float64
dtype: object

Missing Values per Column:
category_name    0
title            0
yes              0
no               0
yes_ratio        0
dtype: int64

First 5 Rows of Data:
  category_name                    title   yes   no  yes_ratio
0    a dog dies          Movie_John Wick  1150  106   0.915605
1    a dog dies        Movie_Marley & Me   781   37   0.954768
2    a dog dies         Movie_Hereditary   680   67   0.910308
3    a dog dies              Movie_MEGAN   580   22   0.963455
4    a dog dies  TV Show_Game of Thrones   524   36   0.935714

Check if there are duplicate titles

In [ ]:
duplicates = df[df['title'].duplicated()]

duplicate_count = df['title'].duplicated().sum()

print(f"Number of duplicates in 'title': {duplicate_count}")

Number of duplicates in 'title': 5176

### Check the categories in 'title' column

In [ ]:
# Extract the unique values before the underscore in 'title'
unique_titles = df['title'].str.split('_').str[0].unique()

print(unique_titles)

['Movie' 'TV Show' 'Video Game' 'Anime' 'Book' 'YouTube' 'Podcast' 'Manga'
 'Blog' 'Short Story']

Extract media type and remove it from title column

In [ ]:
df['media_type'] = df['title'].str.split('_').str[0]  # Extract media type
df['title'] = df['title'].str.split('_').str[1]       # Remove media type from title

df.head()

  category_name            title   yes   no  yes_ratio media_type
0    a dog dies        John Wick  1150  106   0.915605      Movie
1    a dog dies      Marley & Me   781   37   0.954768      Movie
2    a dog dies       Hereditary   680   67   0.910308      Movie
3    a dog dies            MEGAN   580   22   0.963455      Movie
4    a dog dies  Game of Thrones   524   36   0.935714    TV Show

In [ ]:
print(df['media_type'].unique())

['Movie' 'TV Show' 'Video Game' 'Anime' 'Book' 'YouTube' 'Podcast' 'Manga'
 'Blog' 'Short Story']

#### Create new df for media_type 'Movie'

In [ ]:
doesthe_movies = df[df['media_type'] == 'Movie']
print(doesthe_movies)

             category_name                              title   yes   no  \
0               a dog dies                          John Wick  1150  106
1               a dog dies                        Marley & Me   781   37
2               a dog dies                         Hereditary   680   67
3               a dog dies                              MEGAN   580   22
5               a dog dies                       The Babadook   514   15
...                    ...                                ...   ...  ...
5898  there's gun violence                              Joker   104    2
5901  there's gun violence                    American Psycho   101    0
5906  there's gun violence  Everything Everywhere All at Once    92    2
5907  there's gun violence                        Jojo Rabbit    92    0
5909  there's gun violence                                Saw    91    1

      yes_ratio media_type
0      0.915605      Movie
1      0.954768      Movie
2      0.910308      Movie
3      0.963455      Movie
5      0.971645      Movie
...         ...        ...
5898   0.981132      Movie
5901   1.000000      Movie
5906   0.978723      Movie
5907   1.000000      Movie
5909   0.989130      Movie

[2836 rows x 6 columns]

In [ ]:
doesthe_movies.to_csv('../data/local/raw/doesthedog_movies.csv', index=False)

In [ ]:
print(f'Unique titles in doesthe_movies: {doesthe_movies['title'].nunique()}')

Unique titles in doesthe_movies: 433

In [ ]:
doesthe_movies['clean_title'] = functions.prepare_clean_titles(doesthe_movies, 'title')
doesthe_movies.head()

/tmp/ipykernel_26246/2012065974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doesthe_movies['clean_title'] = functions.prepare_clean_titles(doesthe_movies, 'title')

  category_name         title   yes   no  yes_ratio media_type   clean_title
0    a dog dies     John Wick  1150  106   0.915605      Movie     john wick
1    a dog dies   Marley & Me   781   37   0.954768      Movie    marley  me
2    a dog dies    Hereditary   680   67   0.910308      Movie    hereditary
3    a dog dies         MEGAN   580   22   0.963455      Movie         megan
5    a dog dies  The Babadook   514   15   0.971645      Movie  the babadook

In [ ]:
functions.show_basic_info(doesthe_movies)

DataFrame Shape: (2836, 7)
Number of Rows: 2836
Number of Columns: 7

Data Types of Columns:
category_name     object
title             object
yes                int64
no                 int64
yes_ratio        float64
media_type        object
clean_title       object
dtype: object

Missing Values per Column:
category_name    0
title            0
yes              0
no               0
yes_ratio        0
media_type       0
clean_title      0
dtype: int64

First 5 Rows of Data:
  category_name         title   yes   no  yes_ratio media_type   clean_title
0    a dog dies     John Wick  1150  106   0.915605      Movie     john wick
1    a dog dies   Marley & Me   781   37   0.954768      Movie    marley  me
2    a dog dies    Hereditary   680   67   0.910308      Movie    hereditary
3    a dog dies         MEGAN   580   22   0.963455      Movie         megan
5    a dog dies  The Babadook   514   15   0.971645      Movie  the babadook

Drop media_type column

In [ ]:
doesthe_movies.drop(columns=['media_type'], inplace=True)
doesthe_movies.head()

/tmp/ipykernel_26246/1615881242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doesthe_movies.drop(columns=['media_type'], inplace=True)

  category_name         title   yes   no  yes_ratio   clean_title
0    a dog dies     John Wick  1150  106   0.915605     john wick
1    a dog dies   Marley & Me   781   37   0.954768    marley  me
2    a dog dies    Hereditary   680   67   0.910308    hereditary
3    a dog dies         MEGAN   580   22   0.963455         megan
5    a dog dies  The Babadook   514   15   0.971645  the babadook

#### Extract category_name unique values

In [ ]:
# Extract unique values, sort them, and print the list
unique_values = sorted(doesthe_movies['category_name'].dropna().unique())
print(unique_values)

["A child's dear toy is destroyed", 'Autism specific abuse', 'D.I.D. Misrepresentation', 'Santa (et al) is spoiled', 'Someone attempts suicide', 'Someone becomes unconscious', "There's audio gore", 'a baby cries', 'a baby is stillborn', 'a car crashes', 'a car honks or tires screech', 'a cat dies', 'a child is abandoned by a parent or guardian', 'a dog dies', 'a dragon dies', 'a family member dies', 'a horse dies', 'a kid dies', 'a major character dies', 'a male character is ridiculed for crying', 'a mentally ill person is violent', 'a minor is sexualized', 'a minority is misrepresented', 'a non-human character dies', 'a parent dies', 'a person is hit by a car', 'a pet dies', 'a plane crashes', 'a pregnant person dies', 'a priceless artifact is destroyed', 'a trans person is depicted predatorily', 'a woman gets slapped', 'a woman is brutalized for spectacle', 'alcohol abuse', 'an LGBT person dies', 'an LGBT+ person is outed', 'an animal dies', 'an animal is abandoned', 'an animal is sad', 'an infant is abducted', 'animals are abused', 'animals were harmed in the making', 'autism is misrepresented', 'electro-therapy is used', 'existentialism is debated', 'hands are damaged', 'heads get squashed', 'needles/syringes are used', 'rabbits are harmed', 'rape is mentioned', 'reality is unstable or unhinged', 'religion is discussed', 'sexual assault on men is a joke', 'shaky cam is used', 'somebody is choked', 'someone asphyxiates', 'someone breaks a bone', 'someone cheats', 'someone dies', 'someone dies by suicide', 'someone disabled played by able-bodied', 'someone dislocates something', 'someone drowns', 'someone falls down stairs', 'someone falls to their death', 'someone gets gaslighted', 'someone has a chronic illness', 'someone has a meltdown', 'someone has a mental illness', 'someone has a seizure', 'someone has a stroke', 'someone has an abortion', 'someone has an anxiety attack', 'someone has an eating disorder', 'someone has cancer', "someone has dementia/Alzheimer's", 'someone is abused with a belt', 'someone is beaten up by a bully', 'someone is buried alive', 'someone is burned alive', 'someone is crushed to death', 'someone is drugged', 'someone is eaten', 'someone is held under water', 'someone is homeless', 'someone is kidnapped', 'someone is misgendered', 'someone is possessed', 'someone is raped onscreen', 'someone is restrained', 'someone is sexually assaulted', 'someone is sexually objectified', 'someone is stabbed', 'someone is stalked', 'someone is terminally ill', 'someone is watched without knowing', 'someone leaves without saying goodbye', 'someone loses their virginity', 'someone miscarries', 'someone overdoses', 'someone poops on-screen', 'someone sacrifices themselves', 'someone says "I\'ll kill myself"', 'someone says the n-word', 'someone self harms', 'someone speaks hate speech', 'someone struggles to breathe', 'someone suffers from PTSD', 'someone uses drugs', 'someone vomits', 'someone wets/soils themselves', "someone's mouth is covered", "someone's throat is mutilated", 'teeth are damaged', 'the abused becomes the abuser', 'the abused forgives their abuser', 'the black guy dies first', 'the ending is sad', 'the fourth wall is broken', 'the r-slur is used', 'there are "Man in a dress" jokes', 'there are 9/11 depictions', 'there are bugs', 'there are clowns', 'there are hangings', 'there are homophobic slurs', 'there are incestuous relationships', 'there are jump scares', 'there are mannequins', 'there are nude scenes', 'there are razors', 'there are sharks', 'there are shower scenes', 'there are snakes', 'there are spiders', 'there are sudden loud noises', 'there are transphobic slurs', 'there is a baby or unborn child', 'there is copaganda', 'there is obscene language/gestures', 'there is sexual content', "there's ABA therapy", "there's Achilles Tendon injury", "there's BDSM", "there's a claustrophobic scene", "there's a dead animal", "there's a hospital scene", "there's a large age gap", "there's a mental institution scene", "there's a nuclear explosion", "there's ableist language or behavior", "there's abusive parents", "there's addiction", "there's amputation", "there's an alligator/crocodile", "there's anti-abortion themes", "there's antisemitism", "there's aphobia", "there's bedbugs", "there's bestiality", "there's bisexual cheating", "there's blackface", "there's blood/gore", "there's body dysmorphia", "there's body dysphoria", "there's body horror", "there's cannibalism", "there's child abuse", "there's childbirth", "there's deadnaming or birthnaming", "there's decapitation", "there's demons or Hell", "there's dissociation, depersonalization, or derealization", "there's dog fighting", "there's domestic violence", "there's end credits scenes?", "there's excessive gore", "there's eye mutilation", "there's farting", "there's fat jokes", "there's fat suits", "there's finger/toe mutilation", "there's flashing lights or images", "there's genital trauma/mutilation", "there's ghosts", "there's gun violence", "there's incarceration", "there's menstruation", "there's misophonia", "there's natural bodies of water", "there's pedophilia", "there's screaming", "there's shaving/cutting", "there's spitting", "there's torture", "there's underwater scenes", 'trypophobic content is shown']

### Drop rows where 'yes' is greater than 'no'
Keep rows where sensitive content does take place.

In [ ]:
doesthe_movies = doesthe_movies[doesthe_movies['yes'] <= doesthe_movies['no']]

In [ ]:
# functions.show_basic_info(doesthe_movies)

DataFrame Shape: (534, 6)
Number of Rows: 534
Number of Columns: 6

Data Types of Columns:
category_name     object
title             object
yes                int64
no                 int64
yes_ratio        float64
clean_title       object
dtype: object

Missing Values per Column:
category_name    0
title            0
yes              0
no               0
yes_ratio        0
clean_title      0
dtype: int64

First 5 Rows of Data:
           category_name            title  yes   no  yes_ratio  \
600  there's child abuse           Barbie   16  299   0.050794
601  there's child abuse        Midsommar  142  266   0.348039
602  there's child abuse             Nope   29  191   0.131818
603  there's child abuse       Knives Out    1  150   0.006623
604  there's child abuse  American Psycho    0  136   0.000000

         clean_title
600           barbie
601        midsommar
602             nope
603       knives out
604  american psycho

In [ ]:
print(f'Unique titles in doesthe_movies: {doesthe_movies['title'].nunique()}')

Unique titles in doesthe_movies: 89

In [ ]:
# Group by 'clean_title' and concatenate 'category_name' with a comma
events_df = doesthe_movies.groupby('clean_title')['category_name'].apply(lambda x: ', '.join(x)).reset_index()

# Rename the column to 'events'
events_df.rename(columns={'category_name': 'events'}, inplace=True)

# Merge the aggregated events back into the original DataFrame
doesthe_movies = pd.merge(doesthe_movies, events_df, on='clean_title', how='left')

In [ ]:
events_df.head(100)

              clean_title                                             events
0           a quiet place  there's child abuse, there's domestic violence...
1   a quiet place day one  a woman is brutalized for spectacle, someone i...
2                 abigail                                       there's BDSM
3                   alien  there's child abuse, there's domestic violence...
4           alien romulus  a woman is brutalized for spectacle, someone i...
..                    ...                                                ...
84                titanic                                there's child abuse
85                     us  there's child abuse, there's domestic violence...
86                  venom                            someone dies by suicide
87                  wonka  a woman is brutalized for spectacle, a woman g...
88                      x  there's child abuse, there's domestic violence...

[89 rows x 2 columns]