In [10]:
import pandas as pd
import pandas as pd
import numpy as np
from datetime import datetime
import re

In [11]:

import sys
sys.path.append('../utils')
import functions

In [12]:
df = pd.read_csv('../data/local/raw/doesthedogdie.com.csv')
df.head()

  category_name                    title   yes   no  yes_ratio
0    a dog dies          Movie_John Wick  1150  106   0.915605
1    a dog dies        Movie_Marley & Me   781   37   0.954768
2    a dog dies         Movie_Hereditary   680   67   0.910308
3    a dog dies              Movie_MEGAN   580   22   0.963455
4    a dog dies  TV Show_Game of Thrones   524   36   0.935714

In [13]:
functions.show_basic_info(df)

DataFrame Shape: (5910, 5)
Number of Rows: 5910
Number of Columns: 5

Data Types of Columns:
category_name     object
title             object
yes                int64
no                 int64
yes_ratio        float64
dtype: object

Missing Values per Column:
category_name    0
title            0
yes              0
no               0
yes_ratio        0
dtype: int64

First 5 Rows of Data:
  category_name                    title   yes   no  yes_ratio
0    a dog dies          Movie_John Wick  1150  106   0.915605
1    a dog dies        Movie_Marley & Me   781   37   0.954768
2    a dog dies         Movie_Hereditary   680   67   0.910308
3    a dog dies              Movie_MEGAN   580   22   0.963455
4    a dog dies  TV Show_Game of Thrones   524   36   0.935714

Check if there are duplicate titles

In [14]:
duplicates = df[df['title'].duplicated()]

duplicate_count = df['title'].duplicated().sum()

print(f"Number of duplicates in 'title': {duplicate_count}")

Number of duplicates in 'title': 5176

### Check the categories in 'title' column

In [15]:
# Extract the unique values before the underscore in 'title'
unique_titles = df['title'].str.split('_').str[0].unique()

print(unique_titles)

['Movie' 'TV Show' 'Video Game' 'Anime' 'Book' 'YouTube' 'Podcast' 'Manga'
 'Blog' 'Short Story']

Extract media type and remove it from title column

In [16]:
df['media_type'] = df['title'].str.split('_').str[0]  # Extract media type
df['title'] = df['title'].str.split('_').str[1]       # Remove media type from title

df.head()

  category_name            title   yes   no  yes_ratio media_type
0    a dog dies        John Wick  1150  106   0.915605      Movie
1    a dog dies      Marley & Me   781   37   0.954768      Movie
2    a dog dies       Hereditary   680   67   0.910308      Movie
3    a dog dies            MEGAN   580   22   0.963455      Movie
4    a dog dies  Game of Thrones   524   36   0.935714    TV Show

In [17]:
print(df['media_type'].unique())

['Movie' 'TV Show' 'Video Game' 'Anime' 'Book' 'YouTube' 'Podcast' 'Manga'
 'Blog' 'Short Story']

Create new df for media_type 'Movie'

In [18]:
doesthe_movies = df[df['media_type'] == 'Movie']
print(doesthe_movies)

             category_name                              title   yes   no  \
0               a dog dies                          John Wick  1150  106
1               a dog dies                        Marley & Me   781   37
2               a dog dies                         Hereditary   680   67
3               a dog dies                              MEGAN   580   22
5               a dog dies                       The Babadook   514   15
...                    ...                                ...   ...  ...
5898  there's gun violence                              Joker   104    2
5901  there's gun violence                    American Psycho   101    0
5906  there's gun violence  Everything Everywhere All at Once    92    2
5907  there's gun violence                        Jojo Rabbit    92    0
5909  there's gun violence                                Saw    91    1

      yes_ratio media_type
0      0.915605      Movie
1      0.954768      Movie
2      0.910308      Movie
3      0.963455      Movie
5      0.971645      Movie
...         ...        ...
5898   0.981132      Movie
5901   1.000000      Movie
5906   0.978723      Movie
5907   1.000000      Movie
5909   0.989130      Movie

[2836 rows x 6 columns]

In [19]:
doesthe_movies.to_csv('../data/local/raw/doesthedog_movies.csv', index=False)

In [22]:
print(f'Unique titles in doesthe_movies: {doesthe_movies['title'].nunique()}')

Unique titles in doesthe_movies: 433