Scrape missing data from doesthedogdie.com

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import sys
sys.path.append('../utils')
import functions

In [3]:
df = pd.read_csv('../data/local/clean/films_19to24.csv')
display(df)

,title,clean_title,original_title,genres,director,release_year,runtime,budget,revenue,popularity,tmdb_rating,tmdb_votes,imdb_rating,imdb_votes,language,tmdb_id,imdb_id
0,Gunner,gunner,Gunner,"action, thriller, crime",Dimitri Logothetis,2024,90,20000000,0,128.5,5.3,94,3.2,1845.0,English,5492,tt12598606
1,The Break-up Artist,the breakup artist,The Break-up Artist,"comedy, romance",Steve Woo,2019,105,0,0,4.5,3.5,4,4.8,1617.0,English,25356,tt1266542
2,Samurai Priest Vampire Hunter,samurai priest vampire hunter,Samurai Priest Vampire Hunter,"horror, action",Mark Terry,2023,94,0,0,10.8,3.5,2,4.0,381.0,English,28930,tt0791321
3,Mixtape,mixtape,Mixtape,"comedy, family",Valerie Weiss,2021,94,0,0,7.6,7.0,126,6.6,4292.0,English,32471,tt1587420
4,Grizzly II: Revenge,grizzly ii revenge,Grizzly II: Revenge,"horror, music, thriller",André Szöts,2020,74,7500000,0,4.1,3.0,34,2.7,1770.0,English,38258,tt0093119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101869,Son Of Gacy: Chapter One,son of gacy chapter one,Son Of Gacy: Chapter One,horror,Pete Jacelone,2023,90,0,0,0.0,0.0,0,NaN,NaN,English,1400005,NaN
101870,Karmi Aapo Apni,karmi aapo apni,ਕਰਮਿ ਆਪੋ ਆਪਿ ॥,drama,Karan Singh Maan,2024,132,0,0,0.0,0.0,0,NaN,NaN,Punjabi,1400028,tt16733438
101871,My First Year Off Campus,my first year off campus,My First Year Off Campus,"comedy, horror, thriller",Chad Bolling,2024,85,0,0,0.0,0.0,0,NaN,NaN,English,1400039,tt33343744
101872,Despierta,despierta,Despierta,thriller,"Héctor ""Pinke"" Mejía González",2019,0,0,0,0.0,0.0,0,NaN,NaN,Spanish,1400040,NaN
101873,The LEGO Movie 3: The Third Part,the lego movie 3 the third part,The LEGO Movie 3: The Third Part,"animation, comedy, action, family, adventure",Mike Mitchell,2024,109,0,0,0.0,0.0,0,NaN,NaN,English,1400042,NaN