Extract sample df for streamlit app

In [1]:
import pandas as pd

In [2]:
import sys
sys.path.append('../utils')
import sentiment_utils
import helpers

In [3]:

films = pd.read_csv('../data/clean/letterboxd_clean_films.csv')
films.head(2)

,letterboxd_id,title,release_year,tagline,summary,runtime,letterboxd_rating,genres,language,countries,themes,director,topics,doesthedog_id,events,has_warnings
0,1000001,Barbie,2023,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114,3.86,"Comedy, Adventure",English,"UK, USA","['Humanity and the world around us', 'Crude hu...",Greta Gerwig,NaN,381345.0,NaN,False
1,1000002,Parasite,2019,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133,4.56,"Comedy, Thriller, Drama","Korean, English, German, Korean",South Korea,"['Humanity and the world around us', 'Intense ...",Bong Joon-ho,NaN,19408.0,NaN,False

In [4]:
df = films.copy()
df.drop(columns=['topics', 'doesthedog_id', 'letterboxd_id'], inplace=True)

In [5]:
df = helpers.drop_rows_by_runtime(df, min_runtime=40, max_runtime=300)

Number of rows dropped (runtime < 40 or runtime > 300): 305

In [6]:
# Count NaN values per column
nan_per_column = df.isnull().sum(axis=0)

# Print the NaN count per column
print('\nNaN Count per Column:')
print(nan_per_column)

NaN Count per Column:
title                    0
release_year             0
tagline                  0
summary                  0
runtime                  0
letterboxd_rating        0
genres                   9
language                85
countries               76
themes                   0
director                 6
events               14124
has_warnings             0
dtype: int64

In [7]:
df.dropna(subset=['language', 'countries', 'genres', 'director'], inplace=True)

In [9]:
# Sample 5000 random rows from 'df'
df_sampled = df.sample(n=8000, random_state=42)  # n=8000 for exact sample size, random_state ensures reproducibility

# Print the sampled DataFrame
print("Sampled DataFrame (8000 random rows):")
print(df_sampled)

Sampled DataFrame (8000 random rows):
                        title  release_year  \
4230               Red Lights          2012
10252     Not Quite Hollywood          2008
4985        Play Misty for Me          1971
5242                 10000 BC          2008
10863                   Siren          2016
...                       ...           ...
10140       The German Doctor          2013
7660               Blacklight          2022
2644   Sweet Smell of Success          1957
17804         The Killing Jar          2010
12369             The Harvest          2013

                                         tagline  \
4230            How much do you want to believe?
10252    The wild, untold story of OZploitation!
4985        The scream you hear may be your own!
5242     The legend. The battle. The first hero.
10863     No Man Can Resist Her. All Men Should.
...                                          ...
10140  Nothing is more mysterious than the blood
7660                They're gonna need more men.
2644      Beware these “Gentlemen” of the press!
17804                 Eeny, meeny, miny, murder.
12369          First the Fall, then The Harvest.

                                                 summary  runtime  \
4230   Two investigators of paranormal hoaxes, the ve...      114
10252  As Australian cinema broke through to internat...      103
4985   A brief fling between a male disc jockey and a...      102
5242   A prehistoric epic that follows a young mammot...      109
10863  A bachelor party becomes a savage fight for su...       82
...                                                  ...      ...
10140  Patagonia, 1960. A German doctor meets an Arge...       90
7660   Travis Block is a shadowy Government agent who...      104
2644   New York City newspaper writer J.J. Hunsecker ...       97
17804  A stranger armed with a shotgun takes seven pa...       92
12369  Maryann moves in with her grandparents after s...      104

       letterboxd_rating                              genres  \
4230                2.77                            Thriller
10252               3.74                 Comedy, Documentary
4985                3.38                     Drama, Thriller
5242                1.99   Action, Adventure, Drama, Fantasy
10863               2.48                              Horror
...                  ...                                 ...
10140               3.29            History, Drama, Thriller
7660                1.92  Thriller, Drama, Action, Adventure
2644                4.24                               Drama
17804               3.02            Thriller, Mystery, Drama
12369               2.83           Mystery, Horror, Thriller

                                        language  \
4230                                     English
10252                                    English
4985                                     English
5242                English, English, Portuguese
10863                                    English
...                                          ...
10140  Spanish, German, Spanish, Hebrew (modern)
7660                English, English, Portuguese
2644                                     English
17804                                    English
12369                                    English

                              countries  \
4230                         Spain, USA
10252                         Australia
4985                                USA
5242     USA, South Africa, New Zealand
10863                               USA
...                                 ...
10140  Argentina, France, Norway, Spain
7660              Australia, China, USA
2644                                USA
17804                               USA
12369                               USA

                                                  themes  \
4230   ['Horror, the undead and monster classics', 'T...
10252  ['Horror, the undead and monster classics', 'G...
4985   ['Intense violence and sexual transgression', ...
5242   ['Epic heroes', 'Epic history and literature',...
10863  ['Horror, the undead and monster classics', 'G...
...                                                  ...
10140  ['Moving relationship stories', 'Nazis and Wor...
7660   ['High speed and special ops', 'Explosive and ...
2644   ['Moving relationship stories', 'Gritty crime ...
17804  ['Intense violence and sexual transgression', ...
12369  ['Horror, the undead and monster classics', 'I...

                    director  \
4230          Rodrigo Cortés
10252           Mark Hartley
4985          Clint Eastwood
5242         Roland Emmerich
10863           Gregg Bishop
...                      ...
10140           Lucía Puenzo
7660           Mark Williams
2644   Alexander Mackendrick
17804             Mark Young
12369        John McNaughton

                                                  events  has_warnings
4230                                                 NaN         False
10252                                                NaN         False
4985                                                 NaN         False
5242                                                 NaN         False
10863  jump scares, spiders, flashing lights or image...          True
...                                                  ...           ...
10140                                                NaN         False
7660                                                 NaN         False
2644                                                 NaN         False
17804                                                NaN         False
12369  kids dying, people being burned alive, finger ...          True

[8000 rows x 13 columns]

In [10]:
df_sampled.to_csv('../data/local/clean/letterboxd_sample_streamlit.csv')
print('csv successfully generated!')

csv successfully generated!