Clean and handle letterboxd data
- countries.csv
- genres.csv
- languages.csv
- movies.csv
- themes.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
import sys
sys.path.append('../utils')
import data_cleaning
import data_inspection
import helpers

In [3]:
genres = pd.read_csv('../data/local/letterboxd/genres.csv')
countries = pd.read_csv('../data/local/letterboxd/countries.csv')
languages = pd.read_csv('../data/local/letterboxd/languages.csv')
movies = pd.read_csv('../data/local/letterboxd/movies.csv')
themes = pd.read_csv('../data/local/letterboxd/themes.csv')

In [4]:
display(movies)

,id,name,date,tagline,description,minute,rating
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.30
3,1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27
4,1000005,La La Land,2016.0,Here's to the fools who dream.,"Mia, an aspiring actress, serves lattes to mov...",129.0,4.09
...,...,...,...,...,...,...,...
941592,1941593,神笛,NaN,NaN,NaN,NaN,NaN
941593,1941594,蟲極道蜜団子抗争編 壱ノ巻,NaN,NaN,Shinjuku forest at night. In the sap taverns o...,30.0,NaN
941594,1941595,蟲極道蜜団子抗争編 弐ノ巻,NaN,NaN,"The city that never sleeps, where insects gath...",30.0,NaN
941595,1941596,重生,NaN,NaN,"In a world where order has broken down, darkne...",NaN,NaN
941596,1941597,青ひげ公の城,NaN,NaN,NaN,130.0,NaN

In [5]:
data_inspection.show_basic_info(movies)

DataFrame Shape: (941597, 7)
Number of Rows: 941597
Number of Columns: 7

Data Types of Columns:
id               int64
name            object
date           float64
tagline         object
description     object
minute         float64
rating         float64
dtype: object

Missing Values per Column:
id                  0
name               10
date            91913
tagline        802210
description    160812
minute         181570
rating         850598
dtype: int64

First 5 Rows of Data:
        id                               name    date  \
0  1000001                             Barbie  2023.0
1  1000002                           Parasite  2019.0
2  1000003  Everything Everywhere All at Once  2022.0
3  1000004                         Fight Club  1999.0
4  1000005                         La La Land  2016.0

                                            tagline  \
0                  She's everything. He's just Ken.
1                       Act like you own the place.
2  The universe is so much bigger than you realize.
3                           Mischief. Mayhem. Soap.
4                    Here's to the fools who dream.

                                         description  minute  rating
0  Barbie and Ken are having the time of their li...   114.0    3.86
1  All unemployed, Ki-taek's family takes peculia...   133.0    4.56
2  An aging Chinese immigrant is swept up in an i...   140.0    4.30
3  A ticking-time-bomb insomniac and a slippery s...   139.0    4.27
4  Mia, an aspiring actress, serves lattes to mov...   129.0    4.09

In [7]:
data_inspection.check_for_duplicates(movies)

No duplicate rows found in the DataFrame.

In [8]:
columns_to_convert = ['date', 'minute']
data_cleaning.convert_columns_to_int(movies, columns_to_convert)

,id,name,date,tagline,description,minute,rating
0,1000001,Barbie,2023,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114,3.86
1,1000002,Parasite,2019,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133,4.56
2,1000003,Everything Everywhere All at Once,2022,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140,4.30
3,1000004,Fight Club,1999,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139,4.27
4,1000005,La La Land,2016,Here's to the fools who dream.,"Mia, an aspiring actress, serves lattes to mov...",129,4.09
...,...,...,...,...,...,...,...
941592,1941593,神笛,<NA>,NaN,NaN,<NA>,NaN
941593,1941594,蟲極道蜜団子抗争編 壱ノ巻,<NA>,NaN,Shinjuku forest at night. In the sap taverns o...,30,NaN
941594,1941595,蟲極道蜜団子抗争編 弐ノ巻,<NA>,NaN,"The city that never sleeps, where insects gath...",30,NaN
941595,1941596,重生,<NA>,NaN,"In a world where order has broken down, darkne...",<NA>,NaN
941596,1941597,青ひげ公の城,<NA>,NaN,NaN,130,NaN